:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/*
PAGE CONSTRUCTION
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
}

.header {
  margin-top: 35px;
}

.bodyContent {
  flex-flow: column;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-size: 1em;
  height: 2em;
  width: 100%;
  color: white;
  font-weight: none;
  background-color: navy;
}

div {
  clear: both;
}

img {
  width: 50%;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  flex: 1 1 1;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

p, label {
  font-size: 15px;
  line-height: 1em;
}

button {
  background-color: navy;
  width: 12em;
  font-weight: bold;
  color: white;
  padding: 0.3em;
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/*
INTRO
*/

/*
MEDIUM TO LARGE SCREENS
*/
@media screen and (min-width: 600px) {
  div#userInfoDiv,
  div#levelDiv {
    padding: 1em;
  }
  div#inputDiv {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
  }
  div.inputField {
    padding-bottom: 1em;
  }
  div.inputField > label {
    float: left;
    width: 6em;
    text-align: left;
  }
  div.inputField > input {
    float: right;
  }
  div.checkBox {
  float: right;
  padding-bottom: 0.5em;
  }
}

/*
SMALL SCREENS
*/
@media screen and (max-width: 600px) {
  div#userInfoDiv,
  div#levelDiv {
    padding: 0.5em;
  }
  div#inputDiv {
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 600px;
  }
  div.inputField > label {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.inputField > input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.checkBox {
    float: center;
    padding-bottom: 1em;
  }
}

div#levelDiv > div {
  display: flex;
  width: 6em;
  justify-content: right;
  margin: auto;
}

/*
QUESTIONS
*/

button#videoButton {
  background-color: none;
  border: none;
  width: auto;
  padding: 0px;
  overflow-anchor: none;
}

button#noSubmit {
  background-color: grey;
  border: 1 solid black;
}

div.submit {
  display: flex;
  clear: both;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

div.videoDiv {
  margin-top: 1em;
  margin-bottom: 1em;
}

div#recorder {
  max-height: 300px;
}

.recording {
  clear: both;
}

.video {
  max-width: 500px;
  display: block;
  text-align: center;
  margin: auto;
  border: solid 1px navy;
}
